[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/oncioiu
[access "refs/for/refs/*"]
	read = group user/oncioiu
	push = group user/oncioiu
	label-Code-Review = -2..+2 group user/oncioiu
	label-Verified = -1..+1 group user/oncioiu
	rebase = group user/oncioiu
	removeReviewer = group user/oncioiu
	submit = group user/oncioiu
[access "refs/heads/*"]
	read = group user/oncioiu
	create = group user/oncioiu
	push = +force group user/oncioiu
	pushMerge = group user/oncioiu
[access "refs/tags/*"]
	push = group user/oncioiu
	push = +force group user/oncioiu
